apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ClusterManagementAddOn
metadata:
  name: disconnected-insights
  annotations:
    addon.open-cluster-management.io/lifecycle: "addon-manager"
spec:
  addOnMeta:
    description: Configure the Insights Operator on a disconnected cluster to use the Insights Proxy
    displayName: Disconnected Insights
  supportedConfigs:
    - group: addon.open-cluster-management.io
      resource: addontemplates
      defaultConfig:
        name: disconnected-insights
  installStrategy:
    type: Placements
    placements:
    - name: openshift-disconnected-insights
      namespace: open-cluster-management