apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ClusterManagementAddOn
metadata:
  name: insights-proxy
  annotations:
    addon.open-cluster-management.io/lifecycle: "addon-manager"
spec:
  addOnMeta:
    description: Insights Proxy
    displayName: Insights Proxy
  supportedConfigs:
    - group: addon.open-cluster-management.io
      resource: addontemplates
      defaultConfig:
        name: insights-proxy
  installStrategy:
    type: Placements
    placements:
    - name: openshift-insights-proxy
      namespace: open-cluster-management