apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ClusterManagementAddOn
metadata:
  name: insights-proxy
  annotations:
    addon.open-cluster-management.io/lifecycle: "addon-manager"
spec:
  addOnMeta:
    description: Deploys the Insights Proxy on the hub cluster
    displayName: Insights Proxy
  supportedConfigs:
    - group: addon.open-cluster-management.io
      resource: addontemplates
      defaultConfig:
        name: insights-proxy
    - group: addon.open-cluster-management.io
      resource: addontemplates
      defaultConfig:
        name: disconnected-insights
    - group: addon.open-cluster-management.io
      resource: addondeploymentconfigs
      defaultConfig:
        name: disconnected-insights-config
        namespace: openshift-insights
  installStrategy:
    type: Placements
    placements:
    - name: openshift-insights-proxy
      namespace: open-cluster-management-global
      configs:
      - group: addon.open-cluster-management.io
        resource: addontemplates
        name: insights-proxy
    - name: openshift-disconnected-insights
      namespace: open-cluster-management-global
      configs:
      - group: addon.open-cluster-management.io
        resource: addontemplates
        name: disconnected-insights