apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: openshift-insights-proxy
  namespace: insights-proxy
spec:
  predicates:
    - requiredClusterSelector:
        labelSelector:
          matchLabels:
            local-cluster: "true" # Deploy only in the hub cluster
---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: openshift-disconnected-insights
  namespace: insights-proxy
spec:
  predicates:
    - requiredClusterSelector:
        labelSelector:
          matchLabels:
            should-use-insights-proxy: "true"
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: binding-insights-proxy-url-updater
  namespace: insights-proxy
placementRef:
  apiGroup: cluster.open-cluster-management.io
  kind: Placement
  name: openshift-disconnected-insights
  namespace: insights-proxy
subjects:
  - apiGroup: policy.open-cluster-management.io
    kind: Policy
    name: insights-proxy-url-updater
